
.options {
    width: 20%; /* Take up 80% of the container width */
    padding: 20px 20px 410px 20px ;
    /* Add any other styles for your main content */
}

.plot {
    width: 80%; /* Take up 80% of the container width */
    margin: auto;
    /* Add any other styles for your main content */
}


/* dropdown options */
.options {
    position: relative;
    display: inline-block;
}

.channels {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
}

.options:hover .channels {
    display: block;
}

