/* Example CSS styles */
body {
    font-family: Verdana, sans-serif;
    background-color: rgba(0, 0, 0, 0.843);
    margin: 0% 1%; /* Remove default body margin */
}

#title{
    display: inline-block;
    padding: 5px;
    background-color: #8a2691cf;
    text-shadow: 5px 5px 5px 5px #000000;
    color: #fff;
}


.plotContainer {
    position: relative;
    max-width: 100%; /* Ensure it doesn't exceed the viewport width */
    display: flex; /* Use flexbox to align elements */
    flex-wrap: wrap; /* Allow wrapping of elements if needed */
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 0px 0px 2% 0px;
    min-height: 600px; /* Set a minimum height for the container */
}

.contentContainer {
    flex: 1; /* Take up available space */
    display: flex;
    flex-direction: column; /* Arrange its children vertically */
}

.column {
    flex: 1; /* Take up available space */
    display: flexbox; /* Nested flex container */
    background-color: #fff;
    /* justify-content: space-between; */
    padding: 10px; /* Adjust padding as needed */
    /* margin-left: 50px; */
}


.plot {
    flex: 3; /* Take up more available space */
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    min-height: 600px; /* Set a minimum height for the container */
    margin: 10px 0 0 0; /* Adjust margin as needed */
}

/* h1, h2, h3 {
    color: #333;
    
} */

h2 {
    /* display: inline; */
    margin: 0;
    text-align: center;
}

.options ul {
    list-style: none;
    padding: 0;
}

.options {
    margin: 0% 10% 0% 0%;
}

#selectionInfo {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally within the container */
    text-align: center; /* Center text horizontally within the container */
    margin-top: 20px; /* Adjust margin as needed */
}
#scheduleHeader {
    display: flexbox;
    background-color: #f0f0f0; /* Add background color as needed */
    padding: 10px; /* Add padding as needed */
}
.button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.plotContainer .loadingOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
    display: none; /* Initially hidden */
    justify-content: center;
    align-items: center;
    z-index: 100; /* Make sure it appears above other content */
}

/* Add styles for loadingMessage within loadingOverlay */
.plotContainer .loadingMessage {
    margin: 1%;
    font-size: 1.5rem;
    color: #333;
    position: absolute;
}

#waitingMessage {
    display: none; /* Initially hidden */
}


#searchBarContainer {
    font-size: 36px;
    text-align: center;
    padding-bottom: 10%;
}

#avgViewerCountHeader {
    font-size: 22px;
    text-align: center;
}
#avgViewerCount {
    font-size: 30px;
    text-align: center;
}

#totalCheersHeader {
    font-size: 22px;
    text-align: center;
}
#totalCheers {
    font-size: 30px;
    text-align: center;
}

/* #scheduleHeader {
    display: none;
} */

#week {
    text-align: center;
}

#header {
    margin-bottom: 10%;
    margin-top: 0;
}

#overviewHeader {
    height: 196px;
}