<!DOCTYPE html>
<html>
<head>
    <title>{{channel}}</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <h1>{{channel}}</h1>
    <h2>Schedule:</h2>
    <ul>
        {% for s in schedule %}
        <li onclick="location.href='/historical_data?channel={{channel}}&started_at={{s}}'">{{ s }}</li>
        {% endfor %}  
        </ul>
    <div id="streaming_plot"></div>
    <div id="historical_plot"></div>
    <script src="../scripts/main.js"></script>
    <script>
        var timestamps = {{ timestamps | safe }};
        var chatter_count = {{ chatter_count | safe }};
        var message_count = {{ message_count | safe }};
        var cheers_count = {{ cheers_count | safe }};
        var avg_viewer_count = {{ avg_viewer_count | safe }};

        var trace1 = {
            x: timestamps,
            y: chatter_count,
            type: 'scatter',
            mode: 'lines',
            name: 'Chatter Count'
        };

        var trace2 = {
            x: timestamps,
            y: message_count,
            type: 'scatter',
            mode: 'lines',
            name: 'Message Count'
        };

        var trace3 = {
            x: timestamps,
            y: cheers_count,
            type: 'scatter',
            mode: 'lines',
            name: 'Cheers Count'
        };

        var trace4 = {
            x: timestamps,
            y: avg_viewer_count,
            type: 'scatter',
            mode: 'lines',
            name: 'Avg Viewer Count'
        };

        var layout = {
            title: "Chatroom Engagement",
            xaxis: {
                title: 'Time'
            },
            yaxis: {
                title: 'Count'
            }
        };

        var plotData = [
        trace1, 
        trace2, 
        trace3, 
        trace4
        ];

        Plotly.newPlot('historical_plot', plotData, layout);
    </script>
</body>
</html>
