<!DOCTYPE html>
<html>
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" type="text/css" href="../static/style.css">
   <link rel="stylesheet" type="text/css" href="../static/dropdown.css">
   <title>TwitchAdvisor</title>
   <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
   <h1 id="title">TwitchAdvisor</h1>

   <!-- streaming -->
   <div class="plotContainer"> 

      <!-- channel list -->
      <div id="liveBroadcasters" class="options">
         <span id="topLiveChannels" class="column">Top live channels</span>
      </div>

      <!-- selected channel -->
      <h3 id="selectedLiveBroadcaster"></h3>

      <!-- average viewers -->
      <!-- <h3 class="avgViewerCount">Average Viewers</h3> -->
      <p id="avgViewerCount" class="avgViewerCount"></p>

      <!-- plot -->
      <div id="streamingPlot" class="plot">
         <div class="loadingOverlay" id="loadingOverlayStreaming">
            <div class="loadingMessage">Entering into Chatroom...</div>
         </div>
      </div>
   </div>


   <!-- historical -->
   <div class="plotContainer">

      <!-- channel list -->
      <div id="selectionInfo" class="column">

         <div id="defaultBroadcasters" class="options">
            <h3>Default Broadcasters</h3>
               <div>
                  {% for b in broadcasters %}
                  <p class="defaultBroadcasters">{{b}}</p>
                  {% endfor %}  
               </div>
         </div>

         <!-- selected channel -->
         <h3 id="selectedBroadcaster"></h3>
         <!-- schedule -->
         <div id="scheduleHeader" class="options">Historical Schedule</div>

      </div>

      <!-- plot -->
      <div id="historicalPlot" class="plot"></div>
      <!-- <div id="radarPlot" class="plot"></div> -->

      <div class="loadingOverlay" id="loadingOverlayHistorical">
         <div class="loadingMessage">Loading...</div>
      </div>

   </div>

   <!-- overview -->
   <div class="plotContainer">

      <!-- metric list -->
      <div id="selectionInfo" class="column">

         <div id="metric" class="options">
            <h3>Default Broadcasters</h3>
               <div>
                  {% for b in broadcasters %}
                  <p class="defaultMetric">{{b}}</p>
                  {% endfor %}  
               </div>
         </div>

         <!-- selected metric -->
         <h3 id="selectedMetric"></h3>
         
      </div>

      <!-- plot -->
      <div id="overviewPlot" class="plot"></div>
      <!-- <div id="radarPlot" class="plot"></div> -->

      <div class="loadingOverlay" id="loadingOverlayOverview">
         <div class="loadingMessage">Loading...</div>
      </div>

   </div>


   <script src="../static/mainPage.js"></script>
   <script src="../static/streamingPlot.js"></script>
   <script src="../static/historicalPlot.js"></script>
   <script src="../static/overviewPlot.js"></script>

</body>
</html>
